body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media all and (min-width: 1800px) {
    html {
      font-size: 100%; } }
  @media all and (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media all and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media all and (max-width: 800px) {
    html {
      font-size: 45%; } }
  @media all and (max-width: 700px) {
    html {
      font-size: 40%; } }

.header_main {
  display: block;
  background-color: white;
  position: fixed;
  height: 13vh;
  width: 100%;
  z-index: 100; }

.header_head {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4vw 25vw 13vw repeat(5, 11.11vw) 2.45vw;
  align-items: center;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem; }
  .header_head .logo {
    font-family: "Sono", sans-serif;
    font-weight: 600;
    font-size: 2.5rem; }
    .header_head .logo span {
      position: absolute;
      top: 30%;
      margin-left: 1rem; }
  .header_head .signup {
    background-color: #f4d35e;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10%;
    /* color: white; */ }
    .header_head .signup:hover {
      transform: scale(1.1); }
  .header_head img {
    height: 3.4rem; }
  .header_head .click:hover {
    cursor: pointer;
    transform: scale(1.01); }

.body_main {
  position: relative;
  top: 15vh;
  height: auto;
  width: 100%;
  margin-bottom: 8rem; }

.part1_body {
  height: 70vh;
  width: 80vw;
  margin: auto;
  margin-bottom: 4rem;
  background-color: #edf6f9;
  border-radius: 5% 5% 5% 5% / 10% 10%;
  /* border-radius: 50%   ; */
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  position: relative; }
  .part1_body .text {
    /* background-color: lime; */
    position: absolute;
    right: 20vw;
    font-size: 4rem;
    z-index: 2;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Manrope", sans-serif !important;  */
    font-weight: 800;
    display: grid; }
    .part1_body .text .bg {
      height: 50%;
      width: 60%;
      /* opacity: 40%; */
      background-color: #f4d35e;
      position: absolute;
      bottom: 0;
      right: -6.4rem;
      z-index: 1;
      clip-path: polygon(88% 66%, 95% 61%, 98% 52%, 96% 43%, 91% 34%, 84% 28%, 75% 27%, 68% 28%, 59% 32%, 48% 29%, 38% 26%, 30% 26%, 21% 32%, 17% 36%, 8% 44%, 3% 51%, 1% 61%, 3% 71%, 12% 74%, 27% 78%, 45% 79%, 59% 79%, 71% 75%, 83% 73%); }
    .part1_body .text .mainText {
      z-index: 2; }
    .part1_body .text .unique {
      background-color: #ee964b;
      -ms-transform: rotate(-5deg);
      /* IE 9 */
      -webkit-transform: rotate(-5deg);
      /* Safari */
      transform: rotate(-5deg);
      display: inline-block;
      padding: 0.48rem;
      margin: 0;
      color: white;
      font-size: 3.52rem; }
    .part1_body .text .explore {
      background-color: white;
      display: inline-block;
      padding: 0.48rem;
      margin: 0; }
  .part1_body .shopnow {
    font-size: 1.6rem;
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    background-color: #11151c;
    color: white;
    padding: 0.8rem;
    border-radius: 5%;
    z-index: 2; }
    .part1_body .shopnow:hover {
      transform: translateY(-0.16rem) scale(1.1);
      cursor: pointer; }
  .part1_body .images {
    position: absolute;
    bottom: 0vh;
    left: 15%;
    height: 35.2rem;
    z-index: 1; }
  .part1_body .stars1, .part1_body .stars2, .part1_body .stars3, .part1_body .stars4, .part1_body .stars5, .part1_body .stars6, .part1_body .stars7, .part1_body .stars8 {
    height: 2.5rem;
    position: absolute;
    opacity: 0.1; }
  .part1_body .stars1 {
    position: absolute;
    top: 77%;
    left: 2%; }
  .part1_body .stars2 {
    position: absolute;
    top: 85%;
    left: 14%; }
  .part1_body .stars3 {
    position: absolute;
    top: 14%;
    left: 71%; }
  .part1_body .stars4 {
    position: absolute;
    top: 16%;
    left: 71%; }
  .part1_body .stars5 {
    position: absolute;
    top: 28%;
    left: 87%; }
  .part1_body .stars6 {
    position: absolute;
    top: 42%;
    left: 33%; }
  .part1_body .stars7 {
    position: absolute;
    top: 57%;
    left: 64%; }
  .part1_body .stars8 {
    position: absolute;
    top: 5%;
    left: 90%; }

@keyframes moveBahdy1_1 {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

@keyframes moveBahdy1_2 {
  0% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

@keyframes moveBahdy2 {
  0% {
    transform: translateX(-200%); }
  50% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

.part2_body {
  height: 15vh;
  background-color: #f4d35e;
  width: 100%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 100% 100%;
  align-items: center;
  justify-items: center; }
  .part2_body img {
    height: 3.2rem; }
  .part2_body .bahdy1 {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    animation: moveBahdy1_1 40s linear infinite, moveBahdy1_2 80s 40s linear infinite; }
  .part2_body .bahdy2 {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
    align-items: center;
    justify-items: center;
    animation: moveBahdy2 80s linear infinite; }

.part3_body {
  height: 70vh;
  width: 80vw;
  margin: auto;
  margin-bottom: 6.4rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "heading . ." "part1 part2 part3"; }
  .part3_body img {
    height: 27.2rem;
    border-radius: 1.28rem/1.28rem; }
  .part3_body .heading {
    grid-area: heading;
    position: relative;
    width: auto; }
    .part3_body .heading .head {
      font-weight: 800;
      position: absolute;
      font-size: 2.5rem;
      display: inline-block;
      z-index: 2; }
    .part3_body .heading .magic {
      color: #f4d35e;
      font-size: 2.88rem;
      position: absolute;
      /* right: 0rem; */
      left: 60%;
      z-index: 1;
      background-color: #f4d35e;
      display: inline-block;
      transform: translate(-1rem) rotate(-5deg);
      clip-path: polygon(88% 66%, 95% 61%, 98% 52%, 96% 43%, 91% 34%, 84% 28%, 75% 27%, 68% 28%, 59% 32%, 48% 29%, 38% 26%, 30% 26%, 21% 32%, 17% 36%, 8% 44%, 3% 51%, 1% 61%, 3% 71%, 12% 74%, 27% 78%, 45% 79%, 59% 79%, 71% 75%, 83% 73%); }
  .part3_body .part1,
  .part3_body .part2,
  .part3_body .part3 {
    justify-self: center; }
    .part3_body .part1:hover,
    .part3_body .part2:hover,
    .part3_body .part3:hover {
      transform: scale(1.05);
      border-radius: 1.28rem/1.28rem;
      cursor: pointer; }
  .part3_body .part1 {
    grid-area: part1; }
  .part3_body .part2 {
    grid-area: part2; }
  .part3_body .part3 {
    grid-area: part3; }
  .part3_body .title {
    font-size: 1.76rem;
    font-weight: 600; }
  .part3_body .explore {
    position: relative;
    font-size: 1.4rem; }
    .part3_body .explore img {
      height: 1.92rem;
      position: absolute;
      right: 0rem; }

.part4_body {
  height: 80vh;
  /* margin-bottom: 4rem; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: center;
  position: relative; }
  .part4_body .bg {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #f4d35e;
    height: 100%;
    width: 120%;
    transform: translateX(-1.6rem) rotate(-3deg);
    z-index: 1; }
  .part4_body .image {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    /* background-color: red; */
    height: 48rem;
    position: absolute;
    bottom: -1.6rem;
    left: 0%; }
  .part4_body .text {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
    align-self: center; }
    .part4_body .text div {
      margin: 1.6rem; }
    .part4_body .text .heading {
      font-size: 3.68rem;
      font-weight: 800; }
    .part4_body .text .heading2 {
      font-size: 1.92rem;
      /* font-weight: 800; */ }
    .part4_body .text .heading3 {
      font-size: 2.16rem;
      /* font-weight: 800; */ }
    .part4_body .text .btn {
      background-color: #11151c;
      display: inline-block;
      color: white;
      font-size: 1.5rem;
      padding: .8rem;
      border-radius: .32rem/.32rem; }
      .part4_body .text .btn:hover {
        cursor: pointer;
        transform: scale(1.05); }

.part5_body {
  background-color: white;
  /* background-color: pink; */
  transform: rotate(-3deg);
  height: 85vh;
  position: relative;
  z-index: 5;
  margin-bottom: 4rem; }
  .part5_body img {
    height: 16rem; }

.part5_body2 {
  transform: translateY(-2rem) rotate(3deg);
  height: 100%;
  width: 80%;
  margin: 10% 10%;
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 80%;
  grid-template-areas: "heading ." "part1 part2";
  justify-items: center; }
  .part5_body2 .heading {
    width: 100%;
    position: relative; }
    .part5_body2 .heading .head {
      font-weight: 800;
      position: absolute;
      left: 0;
      font-size: 2.5rem;
      z-index: 2; }
    .part5_body2 .heading .magic {
      color: #f4d35e;
      font-size: 2.9rem;
      position: absolute;
      left: 40%;
      z-index: 1;
      background-color: #f4d35e;
      display: inline-block;
      transform: translate(-1rem) rotate(-5deg);
      clip-path: polygon(88% 66%, 95% 61%, 98% 52%, 96% 43%, 91% 34%, 84% 28%, 75% 27%, 68% 28%, 59% 32%, 48% 29%, 38% 26%, 30% 26%, 21% 32%, 17% 36%, 8% 44%, 3% 51%, 1% 61%, 3% 71%, 12% 74%, 27% 78%, 45% 79%, 59% 79%, 71% 75%, 83% 73%); }
  .part5_body2 .part1 {
    grid-area: part1; }
  .part5_body2 .part2 {
    grid-area: part2; }
  .part5_body2 .part1,
  .part5_body2 .part2 {
    position: relative; }
    .part5_body2 .part1 img,
    .part5_body2 .part2 img {
      height: 25rem;
      border-radius: 1.28rem/1.28rem; }
    .part5_body2 .part1 .title,
    .part5_body2 .part2 .title {
      font-size: 1.76rem;
      font-weight: 600; }
    .part5_body2 .part1 .arrow,
    .part5_body2 .part2 .arrow {
      height: 1.6rem;
      position: absolute;
      right: 0; }
    .part5_body2 .part1:hover,
    .part5_body2 .part2:hover {
      transform: scale(1.05);
      border-radius: 1.28rem/1.28rem;
      cursor: pointer; }
    .part5_body2 .part1 .explore,
    .part5_body2 .part2 .explore {
      position: relative;
      font-size: 1.4rem; }

.part6_body {
  background-color: #f4d35e;
  height: 50vh;
  width: 100vw;
  color: white;
  /* position: relative; */ }
  .part6_body div {
    margin-top: 1.6rem; }
  .part6_body .cent {
    /* position: absolute; */
    text-align: center;
    /* background-color: red; */
    display: block;
    width: 80%;
    height: 70%;
    padding: 4rem;
    margin: auto !important;
    /* margin-top: 2rem; */ }
  .part6_body .title {
    font-size: 3.2rem;
    font-weight: 600; }
  .part6_body .head {
    font-size: 1.92rem; }
  .part6_body input {
    border-radius: 0.8rem/0.8rem;
    height: 2.8rem;
    width: 30%;
    border: transparent 2px solid; }
  .part6_body button {
    background-color: #11151c;
    color: white;
    padding: 0.32rem 0.8rem;
    border-radius: 0.32rem/0.32rem;
    border: transparent solid 1px;
    transform: translateX(-6.4rem); }
    .part6_body button:hover {
      transform: translateX(-6.4rem) scale(1.05);
      cursor: pointer; }

.footer {
  height: 50vh;
  background-color: #11151c;
  color: white;
  display: grid;
  grid-template-columns: 30% 20% 20% 20%;
  justify-items: center;
  align-items: center; }
  .footer img {
    height: 3.2rem;
    padding: .8rem; }
  .footer div {
    margin-top: 0.8rem; }
  .footer ul {
    padding: 0;
    list-style-type: none; }
  .footer li {
    margin-top: 0.8rem;
    list-style: none;
    font-size: 1.2rem;
    /* position: ab; */
    left: 0; }
    .footer li:hover {
      transform: scale(1.05);
      cursor: pointer; }
  .footer .fashion {
    font-size: 3.2rem;
    font-weight: 800; }
  .footer .tagline {
    font-size: 1.2rem; }
  .footer .title {
    font-size: 1.71rem;
    font-weight: 800; }
